body { 
    background-color: rgb(239, 245, 247);
     font-color:rgb(40, 223, 24);
     font-size: large;
     background: -webkit-linear-gradient(#ff7d03, rgb(247, 247, 34), hsl(118, 83%, 60%)) ; 
    } 
 img{
height: 700px;
 width: 100%;
 }
 div.gallery img {
  width: 400px;
  height: 400px;
}
.responsive {
  padding: 0 5px;
  float: left;
  width: 24.99999%;
}
; background-color:rgb(240, 172, 212);
   }
h1{
    color: rgb(14, 6, 6);
font-size: xx-large;
}
p{
    color: rgb(29, 27, 27);
    font-size: xx-large;
}
ol li {
  font-size: xx-large;
}
.navbar 
{
  background-color: #089c1c;
}
   .navbar ul li {
      float:left;
  }
.navbar ul {
      list-style-type: none;
      margin: 0px;
      padding: 0;
      overflow: hidden;
      font-size: 25px;
      position:top;
      background-color:#111;
     ;
    }
    .navbar ul li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      border: 1px #fff;
    }
    .navbar ul li a:hover{
     background: #04AA6D; 
    }
    .navbar ul li ul li{
display :none;
    float:left;
    }
    .navbar ul li:hover ul li{
      display :block;
          
          } 
          .footer {
            position:fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            background-color: rgb(150, 248, 255);
            color: white;
            text-align: center; }